body {
  background: no-repeat center center fixed cover;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  text-align: center;
}

h2 {
  font-size: 100px;
}

input {
  padding: 15px;
  font-size: 20px;
}

button {
  padding: 25px;
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}